<%= simple_form_for([@article, @article.comments.build]) do |f| %>
  <div class='comment-box'>
    <p>
    <%= f.input :commenter, label: 'Name', placeholder: "Enter your name here", label_html: { class: 'title not-inline'}, input_html:{class: 'namebox'} %>
    <%= f.input :body, label: 'Comment', placeholder: "Enter your comment here", input_html: { rows: 5, class: 'bigtextbox' }, label_html: { class: 'title not-inline'} %> 
    <%= f.submit 'Send' %> 
    </p>
  </div> 
<% end %>