<div id="home">
  
  <% @articles.each do |article| %>
    <h2 class='article-title'><%= link_to article.title, article_path(article) %> </h2>
    
   <h3 class='article-created-at'> <small ><%= friendly_date(article.created_at) %></small></h3>

    <p class='article-body'><%= article.text %></p>
  <% end %>
</div>