<div class = "main-box">  
  <div class= "photo-container">
    <h1>About</h1>
    <%= image_tag "Katherine.jpg", alt: "katherine", class: "main-photo" %>
  </div>  
  <div class = "text-container ">
      <p class = "hi"> 
        Hi everyone! I am Katherine. A twenty-something Peruvian girl currently living in Park City - Utah (USA). I am passion in fashion, marketing and programming.  I always love fashion and I believe that the style is a way to express yourself. I have a bachelor degree in Business Management, after   done the university I decided to take a programming course based on Ruby on Rails. I am so happy of that decision because I found a new way of express your ideas, your thoughts , your dreams and express yourself.  
      </p>
      <p>   
        As part of my learning about  web development I decided to built my own blog where I am going to share my personal style through my daily outfits,  my experiences of the everyday  and the way that I am coding my life.
      </p>  
      <p>   
        Thank you so much for reading
      </p>  
      <strong>   
        Kat
      </strong>  
      <p>   
        P.s. I love to travel and eat fresh fries.
      </p>
  </div> 
</div>
