.article-title  {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #ededed; 
  width: 60%;
  margin: auto;
  padding-bottom: 10px;
  font-family: palatino, 'times new roman', serif;
  

 
  a{
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-family: palatino, 'times new roman', serif;
  }
}
.article-created-at {
  color: #999 ;
  
  text-align:center;
  font-weight: normal;
  @extend .fancy-font;
}
.article-body {
  text-align:center;


}

.comment-tittle{
  text-align: center;
  width: 60%;
  margin: auto;
  padding-bottom: 10px;
}
.small-box{
  // margin-bottom: 48px;
  // width: 10%;
  text-align: center;

  margin-top: 60px;
}

.button{
  background-color: #fdfdfd;
  border: 1px solid #eeeeee;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: lighten($blogpink ,5%) ;
  border: 1px solid #eeeeee;
  background-color: white ;
  &:hover{
    background-color: white;
    color: $blogpink;
    text-decoration: underline;
  }

}