.article-title  {
  text-align: center;
  border-bottom: 1px solid #ededed; 
  width: 60%;
  margin: auto;
  padding-bottom: 10px;
 
  a{
    color: black;
    text-decoration: none;
  }
}
.article-created-at {

  text-align:center;
}
.article-body {
  text-align:center;

}

.comment-tittle{
  text-align: center;
  width: 60%;
  margin: auto;
  padding-bottom: 10px;
}
.small-box{
  // margin-bottom: 48px;
  // width: 10%;
  text-align: center;

  margin-top: 60px;
}

.button{
  background-color: #fdfdfd;
  border: 1px solid #eeeeee;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: black;
  border: 1px solid #eeeeee;
  background-color: #fdfdfd;
  &:hover{
    background-color: pink;
  }

}