.comment-box{
  margin-bottom: 48px;
  padding-left: 30px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  background-color: #fdfdfd;
  padding-right: 30px;
}
.comment-author{
color: #c4415d;
display: block;
font-size: 12px;
font-style: normal;
line-height: 22px;
font: bold 14px/normal helvetica, arial, sans-serif;
}
.comment-body{
font-size: 14px;
line-height: 10px;
font: 400 13px/normal helvetica, arial, sans-serif;
}

.not-inline{
  display: block;
}
.bigtextbox{
  width: 80%;
  font-size: 15px;
}
.namebox{
  font-size: 15px;
  width: 30%;
}
.title {
 color: #c4415d; 
 font: bold 14px/normal helvetica, arial, sans-serif;
}
